
body {   
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color : #FFFFFF
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header .container {
    display: flex;
    
   
}
.header-nav {
 display: flex; 
 align-items: center;
 
}
.header-logo {
vertical-align: middle;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
margin-right: 76px;
}
.header-logo-accent {
color: #2E2F42; 
}
.header-menu {
   display: flex; 
   gap: 40px;
    
}
.header-menu-link { 
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px; 
padding-bottom: 24px;
}
.header-menu-link:hover, .header-menu-link:focus {
   color: #404bbf;
}

.header-address {
font-style: normal;
margin-left: auto;
align-items: center;
 padding-top: 24px; 
  padding-bottom: 24px;

}
.header-address-list {
display: flex;
gap: 40px;
} 
.header-address-link {
color: #434455;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
}
.header-address-link:hover, .header-address-link:focus {
color: #404bbf;
}
.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-bottom: 120px;
}
.hero-title {
font-weight: 700;
font-size: 56px;
text-align: center;
color: #FFFFFF;
line-height: 107%;
letter-spacing: 0.02em;
margin-bottom: 48px;
margin: 0 auto;
align-items: center;
padding: 188px 472px 292px 188px;
max-width: 496px;
}
.btn {
/*border-radius: 4px;*/
padding: 16px 32px;
}
.hero-btn {
font-weight: 500;
font-size: 16px;
height: 56px;
min-width: 169px;
color: #fff;
background-color: #4D5AE5;
cursor: pointer;
letter-spacing: 0.04em;
line-height: 150%;                                                                                         
display: block;
margin: 0 auto;
border: none;
border-radius: 4px

 }
.hero-btn:hover, .hero-btn:focus {
    background-color: #404BBF;
}
.features, .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
display: flex;
gap: 24px;

}
.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
 }
 .features-item {
  /*width: 264px;*/
   flex-basis: calc((100% - 3 * 24px) / 4) ;
 }
.features-item-text {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455
}
.team {
background-color: #F4F4FD;
/*padding-top: 188px;
padding-bottom: 188px;*/
padding: 120px 0;
}
.name {
     padding: 32px 0 ;
      text-align: center;    
       text-align: center;
}

.team-item {
background-color: #FFFFFF;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.portfolio-title {
color: #2E2F42;
text-align: center;
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
margin-bottom: 72px;
}

.team-text {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
}
ul {
    list-style-type: none;
    
}
  .team-list/*.portfolio-list*/ {
    display: flex;
    gap: 24px;
justify-content: center;}

.team-title { 
color: #2E2F42;
text-align: center;
margin: 0 auto;
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
margin-bottom: 72px;


}
.team-subtitle {
font-weight: 500;
text-align: center;
color: #2E2F42;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
    
.portfolio-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
    display: flex;
}
.portfolio-item {
    width: calc( (100% - 48px) / 3);
}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
background-color: #E7E9FC;
margin-bottom: 8px;
}
.portfolio-text {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
background-color: #E7E9FC;
}
.descript {
    padding: 32px 16px ;
     border: 1px solid #e7e9fc;
      border-top: none;
}
.footer {
background-color: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
vertical-align: middle;
text-transform: uppercase;
color: #4D5AE5;
margin-bottom: 16px;
display: inline-block;

}
.footer-logo-accent {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
vertical-align: middle;
text-transform: uppercase;
color: #F4F4FD;
display: inline-block;
}
.footer-text {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
max-width: 264px;
margin: 0 auto;
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
/*ul {
margin-top: 0;
margin-bottom: 0;
list-style-type: none;
padding-left: 0;
  
}*/

/*.team-img {
    display: block;
}*/
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    
}

